<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>mylevel1.tmx</string>
		<key>title</key>
		<string>MyLevel1</string>
		<key>author</key>
		<string>mieki256</string>
		<key>url</key>
		<string>https://opengameart.org/content/cave-tile-map-image</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>gameart2d-desert.tmx</string>
		<key>title</key>
		<string>GameArt2D</string>
		<key>author</key>
		<string>GameArt2D</string>
		<key>url</key>
		<string>http://www.gameart2d.com/free-desert-platformer-tileset.html</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>MagicLand.tmx</string>
		<key>title</key>
		<string>Magicland Dizzy</string>
		<key>author</key>
		<string>Codemasters</string>
		<key>url</key>
		<string>https://github.com/jamesbowman/tiled-maps</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>sandbox.tmx</string>
		<key>title</key>
		<string>Sandbox 1</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>sandbox2.tmx</string>
		<key>title</key>
		<string>Sandbox 2</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>island.tmx</string>
		<key>title</key>
		<string>Island</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>orthogonal-outside.tmx</string>
		<key>title</key>
		<string>Orthogonal</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>hexagonal-mini.tmx</string>
		<key>title</key>
		<string>Hexgonal Mini</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>isometric_grass_and_water.tmx</string>
		<key>title</key>
		<string>Isometric Grass &amp; Water</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>isometric_staggered_grass_and_water.tmx</string>
		<key>title</key>
		<string>Staggered Grass &amp; Water</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>perspective_walls.tmx</string>
		<key>title</key>
		<string>Perspective Walls</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>test_hexagonal_tile_60x60x30.tmx</string>
		<key>title</key>
		<string>Hexogonal Tile</string>
		<key>author</key>
		<string>from Tiled examples</string>
		<key>url</key>
		<string>https://github.com/mapeditor/tiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>dungeon-16x16.tmx</string>
		<key>title</key>
		<string>Dungeon</string>
		<key>author</key>
		<string>from SKTiled examples</string>
		<key>url</key>
		<string>https://github.com/mfessenden/SKTiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>hex-65x65.tmx</string>
		<key>title</key>
		<string>Hex</string>
		<key>author</key>
		<string>from SKTiled examples</string>
		<key>url</key>
		<string>https://github.com/mfessenden/SKTiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>isometric-130x66.tmx</string>
		<key>title</key>
		<string>Isometric</string>
		<key>author</key>
		<string>from SKTiled examples</string>
		<key>url</key>
		<string>https://github.com/mfessenden/SKTiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>roguelike-16x16.tmx</string>
		<key>title</key>
		<string>Roguelike</string>
		<key>author</key>
		<string>from SKTiled examples</string>
		<key>url</key>
		<string>https://github.com/mfessenden/SKTiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>staggered-64x33.tmx</string>
		<key>title</key>
		<string>Staggered</string>
		<key>author</key>
		<string>from SKTiled examples</string>
		<key>url</key>
		<string>https://github.com/mfessenden/SKTiled</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>superkoalio.tmx</string>
		<key>title</key>
		<string>Superkoalio</string>
		<key>author</key>
		<string>Jake Gundersen</string>
		<key>url</key>
		<string>https://www.raywenderlich.com/2554-sprite-kit-tutorial-how-to-make-a-platform-game-like-super-mario-brothers-part-1</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>level3.tmx</string>
		<key>title</key>
		<string>Level 3</string>
		<key>author</key>
		<string>hotdogsoup.nl</string>
		<key>url</key>
		<string>https://www.hotdogsoup.nl</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>level5.tmx</string>
		<key>title</key>
		<string>Level 5</string>
		<key>author</key>
		<string>hotdogsoup.nl</string>
		<key>url</key>
		<string>https://www.hotdogsoup.nl</string>
	</dict>
</array>
</plist>
